<h1 id="tableLabel">Movies</h1>

<p *ngIf="!movies"><em>Rendering...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
    <thead>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Main Catergory</th>
            <th>User Ratings</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <td>{{movie.title}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.mainCatergory}}</td>
            <td>{{movie.userRating}}</td>
        </tr>
    </tbody>
</table>
Title
<input type="text"  [(ngModel)]="newMovie.title" name="title">
Director
<input type="text"  [(ngModel)]="newMovie.director" name="director">
Main Catergory
<input type="text" [(ngModel)]="newMovie.mainCatergory" name="mainCatergory">
User Ratings
<input type="number" [(ngModel)]="newMovie.userRating" name="userRating">
<button (click)="save()">Save</button>